/* Estilos para a caixa principal (class blackbox) */
.blackbox {
  width: 100%;
  height: 900rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* Estilos para a caixa interna (class box) */
.header-container {
  max-width: 155rem;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 19rem;
}

/* Estilos para o título geral (class titulo) */
.header-logo {
  font-size: 1.3rem;
  line-height: 1.25;
  color: #e6ccb1;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Merriweather';
  text-shadow: 5px 3px 3px black;
}

.header-logo h1 {
  margin-bottom: 0.5rem;
}

/* Estilos para a barra de navegação (class nav) */
.main-nav {
  margin-left: auto;
  margin-bottom: 0.5rem /* ajustar a posição do nav */
}

.main-nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: 1.5rem;
  text-shadow: 5px 3px 3px black;
  font-family: 'Merriweather';
  align-items: center;
}

.main-nav a,
#more {
  text-decoration: none;
  color: #e6ccb1;
  text-shadow: 5px 3px 3px black;
  cursor: pointer;
}

#more{
  font-size: 2rem;
}

#more:hover {
  color: rgb(216, 143, 64);
}

.main-nav a:hover {
  color: rgb(216, 143, 64);
}

/* Fixar o estilo em Faça sua Reserva*/
#reserva {
  color: rgb(216, 143, 64);
  text-shadow: 5px 3px 3px black;
}

/* Estilos para a área de exibição (class display) */
.display {
  color: #fff9e1;
  height: 100%;
  max-width: 153.5rem;
  margin: 19rem auto;
  padding: 0 19.5rem;
  text-shadow: 5px 3px 3px black;
  
}

/* Estilos para o título da área de exibição (class titulo-display) */
.container-reserve {
  max-width: 55rem;
  box-sizing: border-box;
  line-height: 2;
  font-family: 'Merriweather';
  text-align: left;
  letter-spacing: 0.1rem;
  color: #e6ccb1;
  text-shadow: 3px 3px 3px black;
}

.container-reserve-title {
  font-size: 2rem;
}

.container-reserve-subtitle {
  margin-bottom: 0.1rem;
}

.container-reserve-subtitle p {
  padding: 1rem 0;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.5;
}

/* Estilos para o botão de reserva (class bottom-reserve) */
.bottom-reserve, .bottom-reserve-2 {
  display: inline-block;
  padding: 0.5rem 12.5rem;
  background-color: gold;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 2px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-shadow: none;
  font-size: 1.5rem;
  font-family: 'poppins';
  transition: border-radius 0.5s ease, color 0.5s ease;
}

.container-reserve a {
  text-decoration: none;
}

.bottom-reserve:hover, .bottom-reserve-2:hover {
  border-radius: 3rem;
  transition: 0.5s ease;
  color: white;
}

.bottom-reserve:active {
  transform: scale(0.9);
  transition: none;
  background-color: #25d366;
}

.bottom-reserve-2{
  display: none;
}

/* Estilos para telas até 1800px */
@media screen and (max-width: 1800px) {
  .header-container{
    padding: 0 18rem !important;
  }


.display{
    padding-left: 18.5rem !important; 
    padding-right: 18rem !important;
}

}

/* Estilos para telas até 1600px */
@media screen and (max-width: 1600px) {
  .header-container{
    padding: 0 14rem !important;
  }

.display{
    padding-left: 14.5rem !important; 
    padding-right: 14.5rem !important;
}

}

/* Estilos para telas até 1300px */
@media screen and (max-width: 1300px) {
  .header-container{
    padding: 0 8rem !important;
  }

  .header, .blackbox {
    height: 102vh !important; 

}

.container-reserve-title{
  font-size: 1.7rem !important; 
}

.container-reserve-subtitle p {
    font-size: 1.6rem !important;
}

.display{
    padding-left: 8.6rem !important; 
    padding-right: 8.5rem !important;
}

.bottom-reserve{
  font-size: 1.4rem !important;
  padding: 0.5rem 11rem;
}

}

/* Estilos para telas até 1030px */
@media screen and (max-width: 1030px) {
  .main-nav #sobre_nos, #reserva, #eventos, #contato {
    display: none; 
  }

  #more {
    font-size: 3rem;
}

  .header-container{
    padding: 0 4.9rem !important;
  }

  .display{
    padding-left: 5.5rem !important; 
    padding-right: 5.5rem !important;
  }
  .nav-bottom{
    display: none;
  }

  .bottom-reserve{
    display: none;
  }
  
  .bottom-reserve-2{
    display: block !important;
    font-size: 1.4rem !important;
    max-width: max-content;
    padding: 0.5rem 11rem;
  }

}

/* Estilos para telas até 850px */
@media screen and (max-width: 850px) {
  .header, .blackbox {
    height: 100vh !important; 
    
  }

  .header-container{
    padding: 0 1.4rem !important;
  }
  
  #more {
    font-size: 3rem; 
  }

  .main-nav ul {
    gap: 0; 
  }

  .display{
    padding-left: 2rem !important; 
    padding-right: 2rem !important;
}

.nav-bottom:hover{
  border-radius: 0;
  color: black;
  }

}
/* Estilos para telas até 600px */
@media screen and (max-width: 600px) {
  .container-reserve-title{
    font-size: 1.5rem !important;
    
  }
  .container-reserve-subtitle p{
    font-size: 1.4rem !important;
    
  }

  .bottom-reserve-2{
    font-size: 1.2rem !important;
    padding: 0.5rem 9.8rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -17px 2px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

}

/* Estilos para telas até 435px */
@media screen and (max-width: 435px) {
  .header, .blackbox {
    height: 100vh !important; 
  }
  .header-logo {
    font-size: 1.1rem; 
  }

  .container-reserve-title{
    font-size: 1.4rem !important;
  }
  .container-reserve-subtitle p{
    font-size: 1.3rem !important;
    
  }

  .bottom-reserve-2{
    font-size: 1.1rem !important;
    padding: 0.5rem 9.3rem;
  }

  .display{
    margin: 20% 0 !important;
  }

}

/* Estilos para telas até 375px */
@media screen and (max-width: 375px){
  .header-container{
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
  }

  .header-logo {
    font-size: 1rem !important; 
  }

  .nav-bottom-1060{
    font-size: 1.1rem !important;
  }

  .display{
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
}
  
}

/* Estilos para telas até 365px */
@media screen and (max-width: 358px){
  .container-reserve-title{
    font-size: 1.3rem !important;
  }
  .container-reserve-subtitle p{
    font-size: 1.2rem !important;
  }
  .bottom-reserve-2{

    padding: 0.5rem 8.3rem !important;
  }
  .display{
    padding-left: 1.4rem !important; 
    padding-right: 1.4rem !important;
}
   
}

/* Estilos para telas até 333px */
@media screen and (max-width: 333px){
  .bottom-reserve-2{

    padding: 0.5rem 8.3rem !important;
  }
}
/* Estilos para telas até 333px */
@media screen and (max-width: 329px){
  .display{
    padding-left: 1.1rem !important; 
    padding-right: 1.4rem !important;
}

.bottom-reserve-2{
  padding: 0.5rem 8.3rem !important;
}

}

/* Estilos para telas até 330px */
@media screen and (max-width: 330px){
  .header-container{
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }

  .header-logo {
    font-size: 0.8rem !important; 
  }
  #more{
    font-size: 2.5rem !important;
  }

  .container-reserve-subtitle p{
    font-size: 1.1rem !important;
  }

  .bottom-reserve-2{
    padding: 0.5rem 7.3rem !important;
  }


}


/* Estilos para telas até 700px de altura e orientação horizontal */
@media screen and (max-height: 700px) and (orientation: landscape){
  .display{
    margin: 15vh 0 !important;
  }
}
/* Estilos para telas até 500px de altura e orientação horizontal */
@media screen and (max-height: 600px) and (orientation: landscape){
  .display{
    margin: 10vh 0 !important;
  }
}

/* Estilos para telas até 500px de altura e orientação horizontal */
@media screen and (max-height: 500px) and (orientation: landscape){
  .html{
    overflow: scroll !important;
  }

  .display{
    margin: 0vh 0 !important;
  }
  .container-reserve-title{
    font-size: 1.2rem !important;
  }
  .container-reserve-subtitle p{
    font-size: 1.2rem !important;
  }
  .bottom-reserve-2{
    padding: 0.5rem 8.3rem !important;
  }
}



/* Estilos para telas até 415px de altura e orientação horizontal */
@media screen and (max-height: 400px) and (orientation: landscape){
  .container-reserve-title{
    font-size: 1.2rem !important;
  }
  .container-reserve-subtitle p{
    font-size: 1.2rem !important;
  }
  .bottom-reserve-2{
    padding: 0.5rem 8.3rem !important;
  }
}
/* Estilos para telas até 400px de altura e orientação horizontal */
@media screen and (max-height: 400px) and (orientation: landscape){
  .header, .display, .blackbox{
    height: 200vh !important;
  }

  .display{
    margin: 0rem auto !important ;
  }

  .nav-bottom-1060{
    top: 120vh !important;
  }
}
